@font-face {
    font-family: Lato-Regular;
    src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: Lato-Bold;
    src: url(../fonts/Lato-Bold.ttf);
}
@keyframes move {
  50% {
     transform: translate(0, 10px);
  }
}
body{
	position: absolute;
	width: 100%;
	background-color: #f6f9f9;
	font-family: Lato-Regular;
	color: #a1a1a1;
}
header,main,footer{
	position: relative;
	width: 100%;
	text-align: center;
}
.header__logo_h2,.content_h1{
	font-family: Lato-Bold;
}
.header__logo_h2,.info__content_h3,.feature_text-name,.portfolio__content_name{
	color: #2d3950;
}
header,footer{
	height: 100px;
}
.header__logo{
    display: flex;
	margin: 0 auto;
	width: 70%;
	height: 100%;
	text-align: left;
}
.header__logo_img{
    margin: auto 10px;
    width: 50px;
    height: 50px;
}
.header__logo_h2{
    margin: auto 0;
    font-size: 1.2em;
}
.main__banner{
	background: url(../../img/banner.png) no-repeat;
	background-position: center;
	background-size: 100%;
	/*height: 800px;*/
	width: 100%;
	color: white;
}
.main__banner .content{
    position: relative;
    width: 30%;
    padding: 10%;
    margin: 0 auto;
}
.main__banner .content .content_h1{
    font-size: 7em;
    border-bottom: 2px solid #15a4fa;
}
.main__banner .content .content_span{
    display: block;
    margin: 25px 0px 50px 0;
}
.main__banner .content .content_button-call{
    display: block;
    margin: 0 auto;
    background: none;
    outline: none;
    color: white;
    padding: 10px 30px;
    border-radius: 3px;
    border: 1px solid #15a4fa;
    transition: all .5s;
}
.main__banner .content .content_button-call:hover{
	background: #15a4fa;
}
.main__banner .content .content_svg-arrow{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 20px;
    bottom: -50px;
    animation: move 2s ease infinite;
}
.main__info,.main__features{
	height: 350px;
}
.main__info .info__content{
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 5% 0;
}
.main__info .info__content .info__content_h3,.portfolio__content .portfolio__content_name,.main__staywithus .staywithus__content_name{
	display: inline-block;
	width: 100%;
	font-size: 3em;
    font-weight: normal;
	margin-bottom: 20px;
}
.main__info .info__content .info__content_h3 .info__content_span{
	font-size: 1.2em;
}
.main__features{
    background-color: #ffffff;
    padding: 0px 20%;
}
.main__features .features__feature{
    float: left;
    width: 33%;
    margin: 7% 0;
}
.features__feature_text .feature_text-name{
    display: inline-block;
    width: 100%;
    font-size: 1.2em;
    margin: 10px 0;
}
.main__portfolio{
	height: 900px;
}
.main__portfolio .portfolio__content{
	margin: 3%;
}
.main__portfolio .portfolio__images{
    width: 80%;
    margin: 5% auto;
}
.main__portfolio .portfolio__images img{
	margin: 10px;
	border-radius: 3px;
    transition: filter .5s ease-in-out;
}
.main__portfolio .portfolio__images img:hover{
	filter: hue-rotate(180deg);
}
.main__staywithus{
	background: url(../../img/staywithus.png) no-repeat;
	background-size: 100%;
	background-position: center;
	height: 700px;
}
.main__staywithus .staywithus__content,.main__staywithus .staywithus__form{
	position: relative;
    top: 10%;
}
.staywithus__content .staywithus__content_name{
	color: white;
    font-weight: normal;
}
.staywithus__content .staywithus__content_description{
    display: inline-block;
    margin-bottom: 40px;
}
.main__staywithus .staywithus__form input[type='text']{
    width: 550px;
    height: 60px;
    margin: 20px;
    padding: 0 20px;
    background: none;
    outline: none;
    color: white;
    border-radius: 3px;
    border: 1px solid #999999;
}
.main__staywithus .staywithus__form input.staywithus__form_message{
	height: 160px;
}
.main__staywithus .staywithus__form .staywithus__form_actions{
    width: 600px;
    height: 50px;
    margin: 0 auto;
}
.main__staywithus .staywithus__form .staywithus__form_actions .form_actions-checkbox{
	float: left;
	margin-right: 10px;
    margin-top: 20px;

}
.main__staywithus .staywithus__form .staywithus__form_actions label{
	float: left;
	color: white;
    padding: 15px;
}
.main__staywithus .staywithus__form .staywithus__form_actions .form_actions-submit{
    float: right;
    background: none;
    outline: none;
    color: white;
    padding: 15px 50px;
    border-radius: 3px;
    border: 1px solid #15a4fa;
    transition: all .5s;
}
.main__staywithus .staywithus__form .staywithus__form_actions .form_actions-submit:hover{
	background: #15a4fa;
}
footer{
	width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .footer__copyright_span{
    font-weight: normal;
}
footer .footer__social-icons img{
  transition: filter .2s ease-in-out;
  filter: grayscale(0%);
}
footer .footer__social-icons img:hover{
  filter: grayscale(80%);
}
/*MEDIA QUERIES*/
@media screen and (max-width: 1450px){
    .main__staywithus{
        background-size: 115%;
    }
    .main__portfolio .portfolio__images{
        width: 100%;
    }
}
@media screen and (max-width: 1250px){
    .main__banner .content{
        width: 40%;
    }
    .main__features{
        padding: 0px 10%;
    }
    .main__staywithus{
        background-size: 130%;
    }
}
@media screen and (max-width: 1150px){
    .main__portfolio{
        height: 1000px;
    }
    .main__staywithus{
        background-size: 140%;
    }
}
@media screen and (max-width: 1000px){
    body{
        font-size: 1.2em;
    }
    .main__banner .content{
        width: 55%;
    }
    .main__banner .content .content_button-call{
        padding: 20px 50px;
        font-size: 1.2em;
    }
    .main__staywithus{
        background-size: 160%;
    }
}
@media screen and (min-device-width: 100px) and (max-device-width: 667px){
    body{
        font-size: 1.8em;
    }
    .main__banner{
        background-size: 150%;
    }
    .main__banner .content{
        width: 80%;
    }
    .main__banner .content .content_span{
        font-size: 1.6em;
    }
    .main__info,.main__features{
        height: auto;
    }
    .main__features{
        height: 2100px;
    }
    .main__features .features__feature{
        width: 100%;
    }
    .features__feature .features__feature_icon{
        width: 300px;
    }
    .features__feature .features__feature_text{
        font-size: 1.6em;
    }
    .main__portfolio{
        height: 4000px;
    }
    .portfolio__content .portfolio__content_description{
        font-size: 1.6em;
    }
    .main__portfolio .portfolio__images img{
        width: 80%;
    }
    .staywithus__content .staywithus__content_description{
        font-size: 1.6em;
    }
    .main__staywithus{
        height: 1200px;
        background-size: 280%;
    }
    .main__staywithus .staywithus__form input[type='text']{
        width: 85%;
        height: 90px;
        font-size: 2em;
    }
    .main__staywithus .staywithus__form .staywithus__form_actions{
        width: 80%;
        height: 300px;
        margin-top: 50px;
    }
    .main__staywithus .staywithus__form .staywithus__form_actions .form_actions-checkbox{
        float: none;
        transform: scale(4);
        margin-top: 30px;
        margin-right: 30px;
    }
    .main__staywithus .staywithus__form .staywithus__form_actions label{
        float: none;
        font-size: 1.5em;
    }
    .main__staywithus .staywithus__form .staywithus__form_actions .form_actions-submit{
        width: 100%;
        font-size: 2.5em;
        margin-top: 100px;
    }
    footer{
        width: 95%;
    }
    footer .footer__copyright_span{
        font-size: 1.6em;
    }
    footer .footer__social-icons img{
        width: 90px;
    }
}